
<body>
    <div class="container mt-4">
        <h1><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="btn btn-secondary"><i
                    class="fas fa-arrow-left"></i></a> Tambah Penjualan</h1>
        <div id="form">
            <form (ngSubmit)="insertSalesData()">
                <div class="form-group">
                    <label for="customer">Nama Konsumen</label>
                    <select name="customer" class="form-control" [(ngModel)]="sale.customer_id">
                        <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="purchase_date">Tanggal Pembelian</label>
                    <input type="date" name="purchase_date" class="form-control" [(ngModel)]="sale.sale_date">
                </div>
                <div class="form-group">
                    <label for="total_amount">Pembayaran (hari)</label>
                    <input placeholder="0-90" type="number" name="total_amount" class="form-control"
                        [(ngModel)]="sale.total_amount">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-sm" (click)="addDetail()">Tambah Produk</button>
                </div>
                <hr>

                <!-- purchase detail -->
                <div class="form-row" *ngFor="let detail of sale.details; let i = index">
                    <div>
                        <label>Produk ke-{{ i + 1 }}</label>
                    </div>
                    <div class="form-group col-md-3">
                        <select name="product" class="form-control" [(ngModel)]="detail.product_id">
                            <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="number" name="quantity" class="form-control" placeholder="Quantity"
                            [(ngModel)]="detail.quantity">
                    </div>
                    <div class="form-group col-md-2">
                        <input type="number" name="price" class="form-control" placeholder="Price"
                            [(ngModel)]="detail.price">
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeDetail(i)">Hapus Produk</button>
                    </div>
                </div>

                <!-- Action -->
                <button class="btn btn-primary btn-lg">Submit</button>
                <!-- <button type="button" class="btn btn-secondary" *ngIf="editingCategory" (click)="cancelEdit()">
                    Cancel
                </button> -->
            </form>
        </div>
        <br>
        <div id="form">
            <table class="table table-bordered table-striped display" style="width:100%;text-align: top;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Pembayaran</th>
                        <th scope="col">Konsumen</th>
                        <th scope="col">Detail Produk</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="tbody-light">
                    <tr *ngFor="let sale of sales; let i = index">
                        <td scope="row">{{ i + 1 }}</td>
                        <td scope="row">{{ sale.sale_date }}</td>
                        <td scope="row">{{ sale.total_amount }} hari</td>
                        <td scope="row">{{ sale.customer_id}}</td>
                        <td scope="row">
                            <ul>
                                <li *ngFor="let detail of sale.details">
                                    {{ detail.quantity }} x {{ detail.product?.name }} (Rp. {{ detail.price }})
                                </li>
                            </ul>
                        </td>
                        <td scope="row">
                            <ul>
                                <li *ngFor="let detail of sale.details">
                                    Rp. {{ detail.total }}
                                </li>
                            </ul>
                        </td>
                        <td scope="row">
                            <!-- <button class="btn btn-warning btn-sm" (click)="selectCategory(category)">Edit</button> -->
                            <button class="btn btn-danger btn-sm"
                                (click)="deleteSalesData(sale.id)">Hapus Penjualan</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
</body>