<!-- <div class="wrapper">
    <app-header></app-header>
    <app-content></app-content>
</div> -->

<div class="logo">
    <h1 class="text-center my-4">Nando Teknik</h1>
</div>
<div>
    <h1 class="text-center my-4">Stock Management</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6" *ngIf="role == 'admin'">
            <div class="card text-center warna">
                <div class="card-body">
                    <!-- <img src="assets/img/bgcategory.jpg" alt="Category Image"> -->
                    <h2 class="card-title">Kategori</h2>
                    <p class="card-text"></p>
                    <a [routerLink]="['/category']" routerLinkActive="router-link-active" class="btn btn-primary nav-link"> Click</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center warna">
                <div class="card-body">
                    <!-- <img src="/web_app/foto/product.jpg" alt="Product"> -->
                    <h2 class="card-title">Produk</h2>
                    <p class="card-text"></p>
                    <a [routerLink]="['/product']" routerLinkActive="router-link-active" class="btn btn-primary nav-link"> Click</a>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="role == 'admin'">
            <div class="card text-center warna">
                <div class="card-body">
                    <!-- <img src="/web_app/foto/suppliers.jpg" alt="Supplier"> -->
                    <h2 class="card-title">Vendor</h2>
                    <p class="card-text"></p>
                    <a [routerLink]="['/supplier']" routerLinkActive="router-link-active" class="btn btn-primary nav-link"> Click</a>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="role == 'admin'">
            <div class="card text-center warna">
                <div class="card-body">
                    <!-- <img src="/web_app/foto/product.jpg" alt="Product"> -->
                    <h2 class="card-title">Customer</h2>
                    <p class="card-text"></p>
                    <a [routerLink]="['/customer']" routerLinkActive="router-link-active" class="btn btn-primary nav-link"> Click</a>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="role == 'admin'">
            <div class="card text-center warna">
                <div class="card-body">
                    <!-- <img src="/web_app/foto/product.jpg" alt="Product"> -->
                    <h2 class="card-title">Barang Masuk</h2>
                    <p class="card-text"></p>
                    <a [routerLink]="['/purchase']" routerLinkActive="router-link-active" class="btn btn-primary nav-link"> Click</a>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="role == 'admin'">
            <div class="card text-center warna">
                <div class="card-body">
                    <!-- <img src="/web_app/foto/product.jpg" alt="Product"> -->
                    <h2 class="card-title">Barang Keluar</h2>
                    <p class="card-text"></p>
                    <a [routerLink]="['/sales']" routerLinkActive="router-link-active" class="btn btn-primary nav-link"> Click</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center warna">
                <div class="card-body">
                    <!-- <img src="/web_app/foto/product.jpg" alt="Product"> -->
                    <h2 class="card-title">Produk Servisan</h2>
                    <p class="card-text"></p>
                    <a [routerLink]="['/serviceproduct']" routerLinkActive="router-link-active" class="btn btn-primary nav-link"> Click</a>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="role == 'admin'">
            <div class="card text-center warna">
                <div class="card-body">
                    <!-- <img src="/web_app/foto/product.jpg" alt="Product"> -->
                    <h2 class="card-title">Laporan</h2>
                    <p class="card-text"></p>
                    <a [routerLink]="['/report']" routerLinkActive="router-link-active" class="btn btn-primary nav-link"> Click</a>
                </div>
            </div>
        </div>
    </div>
</div>
